@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titilium+Web);
@import url(https://fonts.googleapis.com/css2?family=Tektur&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kanit&display=swap);
@font-face {
    font-family: 'FonteL';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*
8DFFD6
CEF2E5
84F0C8
5F706A
68BD9E

<p>Copyright &copy; 2013 - by Gustavo Guanabara <br> <a href="http://facebook.com/cursoemvideo" target="_blank">Facebook</a> <a href="http://twitter.com/cursoemvideo" target="_blank">Twitter</a></p>
https://pt.wikipedia.org/wiki/Realidade_virtual

<video id="v2" controls="controls">
                <source src="_media/20210331_171507.mp4">
            </video>

            <video id="v1" controls="controls">
                    <source src="_media/20210331_171507.mp4">
                </video>

                <li onmouseover="mFoto('_imagens/especificacoes.png')" onmouseout="mFoto('_imagens/a21.png')"><a href="specs.html">Especificações</a></li>

                <li onmouseover="mFoto('_imagens/especificacoes.png')" onmouseout="mFoto('_imagens/fotos.png')"><a href="specs.html">Especificações</a></li>

                <li onmouseover="mFoto('_imagens/especificacoes.png')" onmouseout="mFoto('_imagens/especificacoes.png')"><a href="specs.html">Especificações</a></li>

                <li onmouseover="mFoto('_imagens/especificacoes.png')" onmouseout="mFoto('_imagens/multimidia.png')"><a href="specs.html">Especificações</a></li>

                <li onmouseover="mFoto('_imagens/especificacoes.png')" onmouseout="mFoto('_imagens/contato.png')"><a href="specs.html">Especificações</a></li>
*/

body{
    background-color: #5F706A;
    color: rgba(0,0,0,1);
    font-family: Arial, sans-serif;
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

aside#lateral h1{
    font-family: 'Tektur', sans-serif;
    font-size: 20pt;
    margin-top: 0px;
}

aside#lateral h2{
    background-color: #606060;
    font-size: 13pt;
    font-family: 'Tektur', sans-serif;
    color: #ffffff;
    padding: 5px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

figure.a{
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 4px 4px black;
}

figure.a img{
    width: 100%;
    height: 100%;
}

figure.a figcaption{
    position: absolute;
    top: 0px;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

nav#menu  ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 400px;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu  li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

div#i{
    width: 900px;
    background-color: #CEF2E5;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgb(0,0,0,.5);
    padding: 10px;
}

header#c img#ic{
    position: absolute;
    left: 940px;
    top: 40px;
}

header#c{
    border-bottom: 1px #606060 solid;
    height: 110px;
    /*background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;*/
}

header#c h1{
    font-family: 'Tektur', sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#c h2{
    font-family: 'Tektur', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

nav#menu a:hover{
    color: #ffffff;
    text-decoration: underline;
}

nav#menu{
    display: block;
}

nav#menu h1{
    font-family: 'Tektur', sans-serif;
    display: none;
}

figure.a:hover figcaption{
    opacity: 1;
}

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

section#corpo h2{
    font-family: 'Tektur', sans-serif;
}

section#corpo p{
    font-family: 'Kanit', sans-serif;
    font-size: small;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px rgb(0,0,0,.5);
}

aside#lateral p{
    font-family: 'Kanit', sans-serif;
    font-size: small;
}

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}

table#ta{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#ta td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}

table#ta td.ce{
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#ta td.cd{ background-color: #cecece}

table#ta caption{
    color: #888888;
    font-size: 10pt;
    font-weight: bolder;
}

table#ta caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

article#np h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

header#ca h1{
    font-family: 'Tektur', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
}

header#ca h2{
    font-size: 13pt;
    color: #000000;
    font-family: 'Tektur', sans-serif;
    background-color: #CEF2E5;
    margin: 0px;
}

header#ca h3{
    font-size: 12pt;
    font-family: 'Tektur', sans-serif;
    color: #606060;
}

.aaa{
    text-align: right;
}

video#v1{
    display: block;
    position: relative;
    left: 30px;
    bottom: 10px;
    width: 440px;
    height: 300px;
}

video#v2{
    display: block;
    position: relative;
    /*left: 10px;*/
    width: 350px;
    height: 300px;
}