@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Kanit&display=swap);
/*
https://favicon.io/favicon-converter/
*/
ul#af{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#af li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid black;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all 1s ease-in;
}

ul#af li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 6.2pt;
    line-height: 370px;
    padding: 5px;
}

ul#af li:hover span{
    opacity: 1;
}

ul#af li#f1{
    background: url('../_imagens/1.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f2{
    background: url('../_imagens/2.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f3{
    background: url('../_imagens/3.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f4{
    background: url('../_imagens/4.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f5{
    background: url('../_imagens/5.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f6{
    background: url('../_imagens/6.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}

ul#af li#f1:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li#f2:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li#f3:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li#f4:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li#f5:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li#f6:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#af li:hover{
    -webkit-transform: scale(1.5);
}

section#co p{
    font-family: 'Kanit', sans-serif;
    font-size: small;
}