@charset "UTF-8";

div#tr{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#a{
    display: block;
    position: relative;
    left: 575px;
    top: 500px;
    width: 300px;
}

iframe{
    display: block;
    position: relative;
    left: 100px;
    top: 50px;
    width: 420px;
    height: 300px;
}